.slidecontainer {
    text-align: center;
    margin: 8%;
}

#demo {
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.data {
    overflow-y: scroll;
    width: 100%;
    padding: 0;
    text-align: center;
    list-style: none;
    color: white;
    border: none;
    background-color: rgba(99, 99, 156, 0.95);
}

#listaAulas {
    margin: 0;
    -moz-column-gap: 5;
    -moz-column-count: 3;
    -webkit-column-count: 4;
    -webkit-column-gap: 10;
    column-count: 5;
    column-gap: 0;
    list-style-type: none;
    background-color: white;
    height: 400px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #39bab5;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #39bab5;
    cursor: pointer;
}

#pageTitle {
    margin-top: 3%;
    text-align: center;
}

.btn {
    color: white;
    background-color: #63639c;
    position: relative;
}

.aulas {
    text-align: center;
    border-left: 1px solid #ff9c21;
    border-bottom: 2px solid #ff9c21;
    border-radius: 5px 0px 0 5px;
    margin: 2px;
    padding: 1px;
}

.load {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 100;
}

#loadGif {
    position: relative;
    top: 15%;
    left: 30%;
}

.current {
    color: orange;
}

.paginate_button {
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
}

.previous {
    left: 0;
}

.taula {
    position: relative;
    left: 15%;
    text-align: center;
}

thead {
    text-align: center;
}

td {
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
}

.nav-link {
    margin-top: 10px;
}

.mac:hover {
    text-decoration: none;
    color: orange;
}

a:hover {
    text-decoration: none;
    color: orange;
}

.aulas:hover {
    color: white;
    border-radius: 5px 5px 0px 5px;
    background-color: #6a6aa1;
}

#listaConnectiones {
    max-height: 32rem;
    background-color: white;
    padding-top: 2%;
    color: #63639c;
    z-index: 1;
    box-shadow: inset -5px 20px 10px -10px #5a5a8a;
    border-radius: 0px 0px 25px 0;
    border-right: 4px #6a6aa1 solid;
    border-bottom: 15px #6a6aa1 solid;
}

#filterButton {
    position: relative;
    float: right;
    z-index: 1;
    height: auto;
    width: 100%;
}

#filterMenu {
    color: #6a6aa1;
}

#aulaYConnectiones {
    position: relative;
    top: 10px;
}

.divHeader {
    vertical-align: middle;
    text-align: center;
    color: white;
    background-color: #6a6aa1;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 3%;
    vertical-align: middle;
    position: relative;
    top: 0px;
    z-index: 12;
}

.connectionesAula {
    position: relative;
    top: -5px;
    padding: 0;
    text-align: justify;
    border-radius: 10px 0px 0px 5px;
    left: -25px;
}

.conectionesAula {
    margin-top: 1%;
    margin-bottom: 3%;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: orange;
    color: #6a6aa1;
    z-index: 0;
}

#connectionesVue {
    overflow: scroll;
    height: 250px;
}

.btn-primary:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

i.loader_gear {
    color: #39bab5 background-color: #6a6aa1;
}

#divAulas {
    background-color: white;
    height: 35rem;
    border-radius: 25px 25px 0px 25px;
    margin-top: 5%;
}

#divAulas h5 {
    text-align: center;
}

.divHeaderAulas {
    vertical-align: middle;
    text-align: center;
    color: white;
    background-color: #6a6aa1;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 3%;
    vertical-align: middle;
    position: relative;
    top: 0px;
    z-index: 12;
    box-shadow: -5px 20px 10px -10px #5a5a8a;
}

.card-title {
    padding-top: 5%;
    padding-bottom: 5%;
}

.border-left-primary {
    border-radius: 20px 20px 0px 20px;
    border-bottom: 15px solid #6a6aa1;
    box-shadow: inset -5px 20px 10px -10px #5a5a8a;
}

.divTitle,
.chartTitle {
    text-align: center;
    padding: 0px;
    margin: 3%;
}

#content-wrapper {
    padding-top: 5%;
}

.landingLogo {
    max-height: 200px;
    text-align: center;
    opacity: 0.9;
    margin-top: 10%;
    color: #6a6aa1;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}